# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit meson

DESCRIPTION="Lightweight KMS plane library"
HOMEPAGE="https://{{gitlab_server}}/{{gitlab_user}}/{{gitlab_repo}}"
SRC_URI="{{src_uri}}"
S="${WORKDIR}/libliftoff-v${PV}"
LICENSE="MIT"
SLOT="0"
KEYWORDS="~amd64 ~arm64 ~loong ~ppc64 ~riscv ~x86"

RDEPEND="
	x11-libs/libdrm
"
DEPEND="
	${RDEPEND}
"

